.container {
  display: flex;
  height: 5vh;
  overflow: hidden;
  background-color: #5a92b7;

  @media (max-width: 900px) {
    height: 10vh;
  }
}

.container2 {
  display: flex;
  height: 95vh;
  overflow: hidden;
  background-color: #5a92b7;

  @media (max-width: 900px) {
    height: 90vh;
  }
}

.centerimg {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: 900px) {
    width: 100%;
    height: 50%;
  }
}

.im {
  width: 11%;
  height: 100%;

  @media (max-width: 900px) {
    width: 20%;
  }
}

.label {
  margin-top: 20px;
  width: 77%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: 15%;

  @media (max-width: 900px) {
    width: 90%;
    margin-left: 5%;
  }
}

.aling {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  left: 0;
  padding: 0;
  margin: 0;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.im2 {
  width: 75%;

  @media (max-width: 900px) {
    width: 60%;
    position: absolute;
    top: 15%;
    left: 40%;
  }
}

.p1,
.p11 {
  font-size: 800%;
  margin: 0%;
  margin-left: -1.5%;
  padding: 0%;
  margin-bottom: -4%;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;

  @media (max-width: 900px) {
    font-size: 450%;
    position: relative;
    left: -10%;
    top: 15%;
  }
}

.p2 {
  font-size: 210%;
  margin: 0%;
  padding: 0;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;

  @media (max-width: 900px) {
    font-size: 150%;
    position: relative;
    top: 30%;
    left: -11%;
    width: 50%;
  }
}

.ima {
  width: 70%;
  display: flex;
  justify-content: center;
  align-content: center;

  @media (max-width: 900px) {
    width: 50%;
  }
}

.alinhadnh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;

  @media (max-width: 900px) {
    padding: 20px;
  }
}

.im3 {
  margin-top: 4%;
  align-items: center !important;
  width: 73%;
  transition: transform 0.3s ease;

  @media (max-width: 900px) {
    width: 45%;
    position: relative;
    top: 40%;
    left: -60%;
  }
}

.p {
  position: absolute;
  top: 67.9%;
  margin: 0;
  color: #ffffff;
  font-size: 150%;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  text-decoration: none;

  @media (max-width: 1650px) {
    width: 100%;
    left: 50%;
    position: relative;
  }

  @media (max-width: 900px) {
    font-size: 100%;
    top: 43%;
    bottom: 5%;
    left: -25%;
    position: relative;
    text-decoration: none;
  }
}

.a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.im3:hover {
  transform: scale(1.1);

  @media (max-width: 900px) {
    transform: scale(1.1);
  }
}

.p:hover {
  color: #5a92b7;

  @media (max-width: 900px) {
    color: #5a92b7;
  }
}

.im4 {
  width: 14.7%;
  height: 29.7%;
  position: absolute;
  top: 35.3%;
  margin-left: 15.2%;

  @media (max-width: 1650px) {
    width: 12.7%;
    height: 27.7%;
    top: 36%;
    margin-left: 15%;
  }
  
  @media (max-width: 1560px) {
    width: 10.7%;
    height: 23.7%;
    top: 38%;
    margin-left: 15%;
  }

  @media (max-width: 1400px) {
    width: 10.7%;
    height: 20.7%;
    top: 40%;
    margin-left: 14%;
  }

  @media (max-width: 1250px) {
    width: 9.7%;
    height: 15.7%;
    top: 42%;
    margin-left: 13.5%;
  }

  @media (max-width: 900px) {
    width: 18%;
    height: 20%;
    top: 38%;
    margin-left: 13%;
  }
}

.input {
  width: 14.7%;
  height: 29.7%;
  position: absolute;
  top: 35.3%;
  margin-left: 15.2%;
  z-index: 1;
  background-color: transparent;

  @media (max-width: 1650px) {
    width: 12.7%;
    height: 27.7%;
    top: 36%;
    margin-left: 15%;
  }
  
  @media (max-width: 1560px) {
    width: 10.7%;
    height: 23.7%;
    top: 38%;
    margin-left: 15%;
  }

  @media (max-width: 1400px) {
    width: 10.7%;
    height: 20.7%;
    top: 40%;
    margin-left: 14%;
  }

  @media (max-width: 1250px) {
    width: 9.7%;
    height: 15.7%;
    top: 42%;
    margin-left: 13.5%;
  }

  @media (max-width: 900px) {
    width: 18%;
    height: 20%;
    top: 38%;
    margin-left: 13%;
  }
}

.im4:hover {
  transform: scale(1.05);

  @media (max-width: 900px) {
    transform: scale(1.05);
  }
}
