body {
  overflow: hidden;
  margin: 0%;
}

.container {
  display: flex;
  height: 5vh;
  overflow: hidden;
  background-color: #5a92b7;

  @media (max-width: 900px) {
    height: 4vh;
  }
}

.vem {
  z-index: 1000;
  background-color: transparent;
  border: none;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  width: 65px;

}

.perfil{
  width: 100%;
  transition: all 0.3s ease; 
}

.perfil:hover{
  transform: scale(1.1);
}


.container2 {
  display: flex;
  height: 95vh;
  overflow: hidden;
  background-color: #5a92b7;
  z-index: 1;

}

.centerimg {
  width: 100%;
  display: flex;
  justify-content: center;


}

.im {
  width: 11%;
  height: 100%;

  @media (max-width: 1570px) {
    width: 11.5%;
  }

  @media (max-width: 1480px) {
    width: 12%;
  }

  @media (max-width: 1390px) {
    width: 12.5%;
  }

  @media (max-width: 1310px) {
    width: 13%;
  }

  @media (max-width: 1250px) {
    width: 14%;
  }

  @media (max-width: 1160px) {
    width: 15%;
  }

  @media (max-width: 1100px) {
    width: 15.5%;
  }

  @media (max-width: 1070px) {
    width: 16%;
  }

  @media (max-width: 1070px) {
    width: 17.5%;
  }

  @media (max-width: 990px) {
    width: 18%;
  }

  @media (max-width: 900px) {
    width: 15%;
  }


  @media (max-width: 860px) {
    width: 20.5%;
  }

  @media (max-width: 800px) {
    width: 21.5%;
  }

  @media (max-width: 760px) {
    width: 22.5%;
  }

  @media (max-width: 700px) {
    width: 23.5%;
  }

  @media (max-width: 680px) {
    width: 24.5%;
  }

  @media (max-width: 640px) {
    width: 25.5%;
  }

  @media (max-width: 610px) {
    width: 26.5%;
  }

  @media (max-width: 600px) {
    width: 27.5%;
  }

  @media (max-width: 570px) {
    width: 29.5%;
  }

  @media (max-width: 540px) {
    width: 31.5%;
  }

  @media (max-width: 500px) {
    width: 33.5%;
  }

  @media (max-width: 480px) {
    width: 34.5%;
  }

  @media (max-width: 460px) {
    width: 35.5%;
  }

  @media (max-width: 430px) {
    width: 37.5%;
  }

  @media (max-width: 420px) {
    width: 41.5%;
  }

  @media (max-width: 410px) {
    width: 42.5%;
  }

  @media (max-width: 380px) {
    width: 50.5%;
    height: 130%;
  }

  @media (max-width: 360px) {
    width: 47.5%;
  }

  @media (max-width: 330px) {
    width: 53.5%;
  }

  @media (max-width: 270px) {
    width: 65.5%;
  }
}

.label {
  margin-top: 20px;
  width: 77%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-left: 15%;

  @media (max-width: 900px) {
    width: 90%;
    margin-left: 5%;
  }
}

.aling {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
  z-index: 1;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;

}

.im2 {
  width: 65%;
  @media (max-width: 1500px) {
    width: 75%;
  }

  @media (max-width: 1200px) {
    width: 85%;
  }

  @media (max-width: 1150px) {
    width: 90%;
  }

  @media (max-width: 900px) {
    width: 120%;
    margin-left: -20%;
  }

  @media (max-width: 710px) {
    width: 110%;
  }
}

.p1,
.p11 {
  font-size: 800%;
  margin: 0%;
  margin-left: -1.5%;
  padding: 0%;
  margin-bottom: -4%;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;

  @media (max-width: 900px) {
    font-size: 350%;
    position: relative;
    left: -10%;
    top: 15%;
  }
}

.p1 {
  @media (max-width: 1350px) {
    font-size: 600%;
    position: relative;
    left: -1%;
  }

  @media (max-width: 900px) {
    font-size: 500%;
  }

  @media (max-width:710px) {
    font-size: 400%;
  }
}

.p11 {
  @media (max-width: 1350px) {
    font-size: 600%;
    position: relative;
    left: -1%;
  }

  @media (max-width: 900px) {
    font-size: 500%;
  }

  @media (max-width: 710px) {
    font-size: 400%;
  }
}

.p2 {
  font-size: 210%;
  margin: 0%;
  padding: 0;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;

  @media (max-width: 1350px) {
    font-size: 190%;
    position: relative;
    left: -1%;
  }

  @media (max-width: 900px) {
    font-size: 150% !important;
    position: relative;
    top: 30%;
    left: -11%;
    width: 80%;
  }

  @media (max-width: 710px) {
    font-size: 100% !important;
    position: relative;
    top: 30%;
    left: -1.2%;
  }

}

.ima {
  width: 80%;
  margin-top: -2%;
  display: flex;
  justify-content: center;
  align-content: center;

}

.alinhadnh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;

}

.im3 {
  margin-top: 4%;
  align-items: center !important;
  width: 75%;
  transition: transform 0.3s ease;

  @media (max-width: 1650px) {
    width: 60%;
    left: -5%;
    position: relative;
  }

}

.p {
  position: absolute;
  top: 69.9%;
  margin: 0;
  color: #ffffff;
  font-size: 150%;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  text-decoration: none;

  @media (max-width: 1650px) {
    width: 100%;
    left: 48%;
    position: relative;
    margin-top: 10px;
  }

  @media (max-width: 900px) {
    font-size: 100%;
  }

  @media (max-width: 710px) {
    font-size: 70% !important;
  }
}

.a {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none; 

  @media (max-width: 1630px) {
    width: 90%;
  }

  @media (max-width: 900px) {
    width: 80%;
    margin-left: -10%;
  }
}

.hov {
  display: inline-block; 
}

.hov:hover .im3 {
  transform: scale(1.1); 
}

.hov:hover .p {
  color: #cccccc; 
  transform: scale(1.016); 
}

.butao{
  position: absolute;
  top: 10px; 
  right: 10px; 
  z-index: 1000; 
  background-color: #5a92b7;
  padding: 10px;
}

// .p:hover {
//   color: #5a92b7;

//   @media (max-width: 900px) {
//     color: #5a92b7;
//   }
// }

.im4 {
  width: 11.7%;
  height: 26.7%;
  position: absolute;
  top: 34%;
  margin-left: 15%;

  @media (max-width: 1650px) {
    width: 11.7%;
    height: 25.7%;
    top: 35.2%;
    margin-left: 15.2%;
  }

  @media (max-width: 1520px) {
    width: 11.7%;
    height: 24.7%;
    top: 36%;
    margin-left: 14.2%;
  }

  @media (max-width: 1500px) {
    top: 36%;
    margin-left: 16.2%;
  }

  @media (max-width: 1470px) {
    top: 36%;
    margin-left: 16%;
  }

  @media (max-width: 1410px) {
    width: 11.2%;
    height: 22.7%;
    top: 37%;
    margin-left: 15.7%;
  }


  @media (max-width: 1300px) {
    width: 11.5%;
    height: 21.9%;
    top: 37.5%;
    margin-left: 15.5%;
  }

  @media (max-width: 1235px) {
    margin-left: 15%;
  }

  @media (max-width: 1200px) {
    width: 13%;
    height: 21%;
    top: 38.5%;
    margin-left: 16.5%;
  }

  @media (max-width: 1115px) {
    width: 12.5%;
    height: 19%;
    top: 39%;
    margin-left: 16%;
  }

  @media (max-width: 1050px) {
    width: 11.5%;
    height: 17%;
    top: 40.2%;
    margin-left: 17.5%;
  }

  @media (max-width: 985px) {
    width: 11.5%;
    height: 16.5%;
    top: 40.5%;
    margin-left: 17%;
  }

  @media (max-width: 985px) {
    width: 11%;
    height: 15%;
    top: 41%;
    margin-left: 16.8%;
  }

  @media (max-width: 920px) {
    top: 41.5%;
    margin-left: 16%;
  }

  @media (max-width: 900px) {
    width: 16%;
    height: 20%;
    top: 39.5%;
    margin-left: 14%;
  }

  @media (max-width: 785px) {
    width: 15%;
    height: 17%;
    top: 40.5%;
  }

  @media (max-width: 765px) {
    width: 14%;
    height: 15%;
    top: 41.5%;
  }
}

.input {
  width: 14.7%;
  height: 29.7%;
  position: absolute;
  top: 35.3%;
  margin-left: 15.2%;
  z-index: 1;
  background-color: transparent;

  @media (max-width: 1650px) {
    width: 12.7%;
    height: 27.7%;
    top: 36%;
    margin-left: 15%;
  }

  @media (max-width: 1560px) {
    width: 10.7%;
    height: 23.7%;
    top: 38%;
    margin-left: 15%;
  }

  @media (max-width: 1400px) {
    width: 10.7%;
    height: 20.7%;
    top: 40%;
    margin-left: 14%;
  }

  @media (max-width: 1250px) {
    width: 9.7%;
    height: 15.7%;
    top: 42%;
    margin-left: 13.5%;
  }

}

.im4:hover {
  transform: scale(1.05);

  @media (max-width: 900px) {
    transform: scale(1.05);
  }
}
