body {
  overflow: hidden;
  margin: 0%;
}

.container {
  display: flex;
  height: 5vh;
  overflow: hidden;
  background-color: #102582;

  @media (max-width: 900px) {
    height: 4vh;
  }
}

.svgBottomCenter {
  position: absolute;
  bottom: 0;
  left: 65%;
  transform: translateX(-50%);
  margin: -10px;
  padding: 0;
  width: auto; 
  height: auto;
  z-index: 10; 
}

.svgTopLeft {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: auto; 
  height: auto;
  z-index: 10; 
}

.svgTopRight {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: auto; 
  height: auto;
  z-index: 10; 
}

.butao{
  position: absolute;
  top: 10px; 
  right: 10px; 
  z-index: 1000; 
  padding: 10px;
}

.vem {
  z-index: 1000;
  background-color: transparent;
  border: none;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  width: 65px;
}

.perfil{
  width: 100%;
  transition: all 0.3s ease; 
}

.perfil:hover{
  transform: scale(1.1);
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  overflow: hidden;
  background-color: #102582;
  z-index: 1;
}

.alinharpracima{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: -3%;
}

.gereseu{
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 700%;
  margin: 0;
  width: 30%;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.diagrama{
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 700%;
  margin: 0;
  margin-top: -2%;
  width: 30%;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.conteudo{
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 200%;
  margin: 0;
  width: 30%;
  padding: 0;
  margin-left:3.5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.adicionararea{
  margin-top: 3%;
width: 150px;
z-index: 99;
}

.adicionararea:hover {
  transform: scale(1.05); 
}


.adicionar{
  width: 100%;
}

.image{
  width: 250px;
  margin-top: 25%;
}

.hov {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; 
  z-index:10;
}

.hov a {
  display: block; 
}

.hov:hover {
  transform: scale(1.1); 
}

.centerimg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.im {
  width: 11%;
  height: 100%;

  @media (max-width: 1570px) {
    width: 11.5%;
  }

  @media (max-width: 1480px) {
    width: 12%;
  }

  @media (max-width: 1390px) {
    width: 12.5%;
  }

  @media (max-width: 1310px) {
    width: 13%;
  }

  @media (max-width: 1250px) {
    width: 14%;
  }

  @media (max-width: 1160px) {
    width: 15%;
  }

  @media (max-width: 1100px) {
    width: 15.5%;
  }

  @media (max-width: 1070px) {
    width: 16%;
  }

  @media (max-width: 1070px) {
    width: 17.5%;
  }

  @media (max-width: 990px) {
    width: 18%;
  }

  @media (max-width: 900px) {
    width: 15%;
  }


  @media (max-width: 860px) {
    width: 20.5%;
  }

  @media (max-width: 800px) {
    width: 21.5%;
  }

  @media (max-width: 760px) {
    width: 22.5%;
  }

  @media (max-width: 700px) {
    width: 23.5%;
  }

  @media (max-width: 680px) {
    width: 24.5%;
  }

  @media (max-width: 640px) {
    width: 25.5%;
  }

  @media (max-width: 610px) {
    width: 26.5%;
  }

  @media (max-width: 600px) {
    width: 27.5%;
  }

  @media (max-width: 570px) {
    width: 29.5%;
  }

  @media (max-width: 540px) {
    width: 31.5%;
  }

  @media (max-width: 500px) {
    width: 33.5%;
  }

  @media (max-width: 480px) {
    width: 34.5%;
  }

  @media (max-width: 460px) {
    width: 35.5%;
  }

  @media (max-width: 430px) {
    width: 37.5%;
  }

  @media (max-width: 420px) {
    width: 41.5%;
  }

  @media (max-width: 410px) {
    width: 42.5%;
  }

  @media (max-width: 380px) {
    width: 50.5%;
    height: 130%;
  }

  @media (max-width: 360px) {
    width: 47.5%;
  }

  @media (max-width: 330px) {
    width: 53.5%;
  }

  @media (max-width: 270px) {
    width: 65.5%;
  }
}

