body {
  margin: 0;
}

.noScroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.fixedLayout {
  display: flex;
  height: 5vh;
  max-height: 5vh;
  overflow: hidden !important;
  background-color: #102582;
}

.helpIcon {
  overflow: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  margin: 16px;
  width: 50px;
}

.bottomCenterSvg {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  margin: -20px;
  padding: 0;
  width: 15%;
  height: auto;
  z-index: 10;
}

.topLeftSvg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  margin: 0;
  padding: 0;
  width: 15%;
  height: auto;
  z-index: 10;
}

.topRightSvg {
  position: absolute;
  top: 0;
  right: 300px !important;
  margin: 0;
  padding: 0;
  width: 13%;
  height: auto;
  z-index: 10;
}

.secondaryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  overflow: hidden;
  background-color: #102582;
  z-index: 1;
}

.alignCenter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -3%;
}

.mainTitle {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6.5rem;
  margin: 0;
  width: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 6.5rem;
  margin: 0;
  margin-top: -2%;
  width: 30%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentText {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 200%;
  margin: 0;
  margin-left: 0%;
  width: 30%;
  padding: 0;
  text-align: center;
  line-height: 1.2;
  display: block;
}

.uploadArea {
  margin-top: 3%;
  width: 150px;
  z-index: 99;
  transition: transform 0.3s ease;
}

.uploadButton {
  width: 100%;
}

.actionButtonImage {
  width: 260px;
  margin-top: 25%;
  transition: width 0.3s ease;
}

.hoverEffect {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  z-index: 10;
}

.hov a {
  display: block;
}

.hov:hover {
  transform: scale(1.1);
}

.centerImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
  width: auto;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .bottomCenterSvg {
    width: 15%;
  }
  .mainTitle {
    font-size: 4.5rem;
    width: 60%;
  }
  .subtitle {
    font-size: 4.5rem;
    width: 60%;
  }
  .contentText {
    font-size: 150%;
  }
  .uploadArea {
    width: 130px;
    margin-top: 2.5%;
  }
}

@media only screen and (max-width: 1155px) {
  .mainTitle {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 5rem;
  }
  .contentText {
    font-size: 125%;
  }
}

@media only screen and (max-width: 768px) {
  .mainTitle, .subtitle {
    font-size: 4rem;
    width: 80%;
  }
  .contentText {
    font-size: 120%;
    margin-left: 1%;
  }
  .bottomCenterSvg {
    width: 23%;
    left: 50%;
  }
  .uploadArea {
    width: 100%;
  }
  .actionButtonImage {
    width: 150px;
    margin-top: 15%;
  }
  .responsiveImage {
    width: 22%;
  }
}

