.card {
  font-family: "General Sans", sans-serif;

  display: flex;
  justify-content: center;

  &__content {
    width: 80.7939328%;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__header {
    width: 100%;
    // width: 31.56013rem;

    height: 5.064425vw;

    color: #000;
    font-size: 2.130575vw;
    font-style: normal;
    font-weight: 400;
    line-height: 114.887%;
  }
  &__subheader {
    margin-top: 0.63333333333vw;

    width: 89.9071391657766%;
    // width: 28.37481rem;

    height: 5.064425vw;
    color: #7e8490;

    font-size: 0.83823333333vw;
    font-style: normal;
    font-weight: 400;
    line-height: 139.397%;
  }
  &__topics {
    display: flex;
    flex-direction: column;
    margin-top: 1.575vw;
    height: 4.36666666667vw;
  }

  &__topic {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    &__text {
      color: #000;

      font-size: 0.83823333333vw;
      font-style: normal;
      font-weight: 400;
      line-height: 139.397%;
    }
    &__icon {
      width: 1.01286666667vw;
      height: 1.01286666667vw;
      margin-right: 0.79166666666vw;
    }
  }
}

@media (max-width: 810px) {
  .card {
    width: 100% !important;
  }
}
