$footer-bg-color: #fff;
$footer-border-color: #c9cdd6;
$footer-text-color: #7e8490;
$footer-font-family: "General Sans", sans-serif;

$footer-width: 100%;
$footer-height: 14.1875rem;
$footer-margin-top: 0.89rem;

$link-width: 10.875rem;
$link-height: 1.4375rem;
$link-font-size: 1.0625rem;
$link-line-height: 139.397%;

.footer {
  background: $footer-bg-color;
  border-top: 1px solid $footer-border-color;
  width: $footer-width;
  height: $footer-height;
  margin-top: $footer-margin-top;

  &__container {
    height: 100%;
    padding-top: 1.63rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__left_content {
    display: flex;
    flex-direction: column;
    margin-left: 5.13rem;
    height: 10.875rem;

    &__title {
      font-family: $footer-font-family;
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: black;
    }

    &__subtitle {
      width: 17.4375rem;
      height: 1rem;
      flex-shrink: 0;

      color: #7e8490;
      font-family: $footer-font-family;
      font-size: 1.0625rem;
      font-style: normal;
      font-weight: 400;
      line-height: 139.397%;
      /* 1.48106rem */

      margin-bottom: 1.5rem;
    }
  }

  &__right_content {
    margin-right: 5.13rem;
    display: flex;
    column-gap: 5.06rem;
  }

  &__links_section {
    display: flex;
    flex-direction: column;
    row-gap: 1.81rem;

    &__title {
      width: $link-width;
      height: $link-height;
      flex-shrink: 0;
      color: $footer-text-color;
      font-family: $footer-font-family;
      font-size: $link-font-size;
      font-weight: 600;
      line-height: $link-line-height;
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 1.13rem;

      &__item {
        width: $link-width;
        height: $link-height;
        flex-shrink: 0;
        color: $footer-text-color;
        font-family: $footer-font-family;
        font-size: $link-font-size;
        font-weight: 400;
        line-height: $link-line-height;

        text-decoration: none;
        transition: 200ms;

        &:hover {
          transform: translateY(-0.05em);
          color: #646974;
        }
      }
    }
  }
}

@media (max-width: 810px) {
  .footer {
    height: auto;
    width: $footer-width;
    margin-top: $footer-margin-top;

    padding-bottom: 2rem;

    &__container {
      flex-direction: column;
      padding-top: 3.21975308642vw;
    }

    &__left_content {
      margin-left: 4.9975308642vw;
      height: auto;

      &__title {
        font-size: 5.7037037037vw;
      }

      &__subtitle {
        width: 40.4444444444vw;
        height: 1.97530864198vw;
        font-size: 2.4869234568vw;
        margin-bottom: 2.96296296296vw;
      }
    }

    &__right_content {
      margin-left: 4.9975308642vw;
      display: flex;
      column-gap: 1.06913580247vw;
      margin-top: 2rem;
    }

    &__links_section {
      row-gap: 0.57530864198vw;

      &__title {
        width: 26.4814814815vw;
        height: $link-height;
        font-size: 2.4869234568vw;
        line-height: $link-line-height;
      }

      &__list {
        row-gap: 0 !important;

        &__item {
          width: $link-width;
          height: $link-height;
          font-size: 2.4869234568vw;
          line-height: $link-line-height;
        }
      }
    }
  }
}