<div class="sc-hRgSog hjtMmB">
    <button class="sc-jwaPLR nytot">
        <img src="/src/assets/espanhabandeira.png" alt="Espanhol" style="width: 50px; height: 50px;">
    </button>
    <div class="sc-gFtjaa bHyxcu">
        <div class="sc-ikngxL gyXIhO">
            <img src="/src/assets/estadosunidosbandeira.png" alt="Inglês" class="sc-geoRQH bEYGDg">
            <span class="sc-kEsJEW kLrcdv">Inglês</span>
        </div>
        <div class="sc-ikngxL gyXIhO">
            <img src="/src/assets/espanhabandeira.png" alt="Espanhol" class="sc-geoRQH bEYGDg">
            <span class="sc-kEsJEW kLrcdv">Espanhol</span>
        </div>
        <div class="sc-ikngxL gyXIhO">
            <img src="/src/assets/brasilbandeira.png" alt="Português" class="sc-geoRQH bEYGDg">
            <span class="sc-kEsJEW kLrcdv">Português</span>
        </div>
    </div>
</div>