.tamanhovideo {
    width: 625px;         
    height: 480px;        
    object-fit: contain; 
    border-radius: 1.63456rem;
    border-width: 0.671px;
    border-color: #c9cdd6;
    margin: 0;
    padding: 0;
}
