# Dependency directories
/node_modules

# Production build directory
/build

# Environment variables
.env

# IDE files
*.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/

# Mac specific files
.DS_Store

# Jest testing library
coverage/

# Ignore artifact files
*.orig

# Ignore npm package-lock.json or yarn.lock files
package-lock.json
yarn.lock

# Ignore any compiled JavaScript
*.min.js

# Ignore .env.local if it's in the root of your project
.env.local

# Ignore .env.development.local if it's in the root of your project
.env.development.local

# Ignore .env.test.local if it's in the root of your project
.env.test.local

# Ignore .env.production.local if it's in the root of your project
.env.production.local
