.card11{
  background-color: #ffffff;
  flex: 1 1 calc(33.333% - 16px); 
  height: 0;
  padding-bottom: 61.333%; 
  border: 1px solid #ddd; 
  box-sizing: border-box; 
  border-radius: 30px;
} 

.p{
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  margin: 0;
  padding: 5.5%;
  padding-bottom: 4%;
}

.linha{
margin: 0;
margin-left: 6%;
margin-top: -3%;
width: 87%;
color: #A5A9B2;
}

.h1{
  display: flex;
  justify-content: center;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 4px;
}

.envoltazero{
  display: flex;
  justify-content: center;
  width: auto;
}

.zero{
  width: 150px;
  padding: 0;
  margin: 0;
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  flex-direction: column;
}

.feedbackGroup {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 87%;
}

.textarea {
  width:50%; 
  margin-bottom: 15px; 
}

.submitButton {
  align-self: flex-end; 
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  margin: 0;
  background-color: #3B58E6;
  color: white;
}

.selectGroup{
  display: flex;
  justify-content: center;
  width: auto;
}

.categoryButton {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 2px;
  padding: 10px 15px;
  border: 2px solid #a5a9b2e3;
  transition: border-color 0.3s ease;
}

.categoryButton:hover {
  border-color: #888; 
}

.selected {
  border-color: #3B58E6 !important;
}

.textarea{
  resize: none;
  border: 1px solid #a5a9b2e3;
  border-radius: 5px;
}