.card11{
  background-color: #ffffff;
  flex: 1 1 calc(33.333% - 16px); 
  height: 0;
  padding-bottom: 61.333%; 
  border: 1px solid #ddd; 
  box-sizing: border-box; 
  border-radius: 30px;
} 

.p{
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  margin: 0;
  padding: 6%;
}

.linha{
margin: 0;
margin-left: 6%;
margin-top: -3%;
width: 87%;
color: #A5A9B2;
}

.h1{
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}