html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  // overflow: hidden;
}

.div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  background-color: #e4e4e4;
}

.div-content {
  margin: auto;
}

.nav {
  background-color: #ffffff;
  min-height: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlenav {
  font-family: "General Sans", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-left: 3%;
}

.button {
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  padding: 11px 17px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 3%;
}

.p {
  margin: 0;
  text-align: center;
}

.line1 {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    padding: 16px;
    padding-top: 0px;  
    justify-content: space-between; 
  }


.line11 {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    padding: 16px; 
    padding-top: 0px; 
    justify-content: space-between; 
  }

.card10{
  flex: 0 1 50%; 
  height: 0;
  padding-bottom: 10.7%; 
  box-sizing: border-box; 
  border-radius: 30px;
  width: 150%;
} 

.card11{
  flex: 1 1; 
  height: 0;
  padding-bottom: 13.7%; 
  box-sizing: border-box; 
  border-radius: 30px;
} 

.card22{
  flex: 1 1; 
  height: 0;
  padding-bottom: 13.7%; 
  box-sizing: border-box; 
  border-radius: 30px;
} 

.line2 {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    padding: 16px; 
    padding-top: 0px; 
    justify-content: space-between; 
    margin-top: 32px;
  }


.card111{
  flex: 1 1 calc(23.333% - 16px); 
  height: 0;
  padding-bottom: 15%; 
  box-sizing: border-box; 
  border-radius: 30px
} 

.line3 {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
  padding: 16px; 
  justify-content: space-between; 
}

.card1,
.card2,
.card3 {
  flex: 1 1 calc(13.333% - 16px); 
  height: 0;
  padding-bottom:20.133%; 
  box-sizing: border-box; 
  border-radius: 30px
}
