.tamanhovideo {
    width: 625px;         
    height: 470px;        
    object-fit: contain; 
    border-radius: 1.63456rem;
    border-width: 0.671px;
    border-color: #c9cdd6;
    margin: 0;
    padding: 0;
    display: block;
  }
  
  .videoContainer {
    position: relative;
    display: inline-block;
  }
  
  .overlayText1 {
    font-family: "General Sans", sans-serif;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    color:white;
    top: 11.9%; 
    height: 6.07731rem;
    width: 100%;
    font-size: 2.9rem !important;
    font-weight: 600;
    line-height: 114.887%;
  }
  
  .overlayText2 {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    color: white; 
    top: 48.5%; 
    width: 100%;
    font-size: 1.00588rem;
    font-weight: 400;
    line-height: 139.397%;
  }
  
  .actionButton {
    position: absolute;
    bottom:140px; 
    left: 12.5%;
    transform: translateX(-50%); 
    padding: 10px 20px;
    border-radius: 0.50294rem;
    text-align: center;
    font-size: 0.7125rem;
    font-style: normal;
    font-weight: 400;
    border-top: 1.341px solid #e3e5e8;
    border-right: 1.341px solid #e3e5e8;
    border-bottom: 2.682px solid #e3e5e8;
    border-left: 1.341px solid #e3e5e8;
    background: #fff;
    color: #000;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
        // transform: translateY(-0.01em);
      }
  
      &:active {
        // transform: translateY(0.1em);
        background: darken(#fff, 5%);
      }
  }
  